*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# IntelliJ stuff
.idea/
*.iml

*.aux
*.fdb_latexmk
*.synctex.gz
*.synctex.gz(busy)
*.pdf
*.log
*.bbl
*.blg
*.toc
*.bcf
*.run.xml
*.out
*.lot
*.lof
*-blx.bib
*.fls
*.md5
*.auxlock
*.dpth
*.dep
*.ttf
